.bg-white a{
    color:white;
    font-weight: bold;
    font-size: 15px;
}
.footer-bottom ul .text-secondary{
    color:#0056b3 !important;
    text-decoration: none;
}
.footer-bottom ul .text-secondary:hover{
    color:#F16001 !important;
    text-decoration: none;
}
.btn{
    font-size: 15px;
    padding: 14px 30px;
    color: #ffffff;
    border-radius: 0px;
    border: 0;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn:hover{
    transform: translateY(-2px);
}
.accordion-body a{
    text-decoration: none;
    text-align: justify;
}
.accordion-body a:hover{
    text-decoration: underline;
}
.accordion-body figcaption{
    margin-top: 20px;
}